@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mirage';
  src: local('Mirage'), url('./fonts/mirage-regular.otf');
}

:root {
  --swiper-theme-color: #eb455f;
}

.swiper-pagination-bullets {
  display: none;
}
